<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-firebasex-inappmessaging"
        version="1.0.0">

    <name>cordova-plugin-firebasex-inappmessaging</name>
    <description>Firebase In-App Messaging module for cordova-plugin-firebasex</description>
    <license>MIT</license>
    <keywords>cordova,firebase,in-app messaging,inappmessaging</keywords>

    <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=14.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>

    <dependency id="cordova-plugin-firebasex-core" />

    <!-- Android -->
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseInAppMessaging" spec="12.9.0-beta"/>
            </pods>
        </podspec>
    </platform>

</plugin>
